.modal {
  /* display: none;  */
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-hidden{
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 700px;
  height: 633px;
  position: relative;
}
.close {
  color: #aaaaaa;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 28px;
  font-weight: bold;
  padding-right: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content .header-info .text-title-header {
  width: 100%;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  padding: 24px;
}

.content-info
{
  overflow-y: scroll;
  height: 483px;
}

.content-info-box {
  margin: 0 24px;
  height: 100%;
}

.content-info .img-default {
  width: 150px;
}

.content-info .img-default .img-employee {
  width: 150px;
  height: 150px;
  background: url("../../assets/img/default-avatar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
}

.m-btn-cancel:hover
{
  background-color: #BBBBBB;
}
.content-info .img-default .text-img {
  width: 150px;
  padding-left: 15px;
}

.box-text-info {
  padding-left: 12px;
}

.box-text-info .title-info {
  font-size: 13px;
}

.box-text-info .underlined {
  width: 75px;
  height: 4px;
  background-color: #019160;
  margin-top: 4px;
}

.title-input-info {
  padding-top: 4px;
  padding-bottom: 4px;
}

.row-info {
  display: flex;
}

.row-info-right {
  padding-left: 16px;
}

.row-info-last {
  padding-top: 12px;
}

.title-info-last {
  padding-top: 16px;
}

.row-wrapper {
  padding-left: 12px;
  padding-top: 4px;
}

.box-wrapper {
  margin-top: 12px;
  padding-left: 12px;
}

.footer-info {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #e5e5e5;
  margin-top: 24px;
}
.box-footer {
  display: flex;
  float: right;
  margin: 10px 24px 10px 0;
}
