.content
{
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
    background-color: #ffffff;
    position: absolute;
    top: 61px;
    left: 221px;
}

.content .content-title
{
    background-color: #ffffff;
    display: flex;
}

.content .content-title .title-left
{
    font-size: 20px;
    font-weight: bold;
    padding: 16px;

}

.content .content-title .add-employee
{
    position: absolute;
    right: 16px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 16px;
}



.icon-add
{
    background: url('../../assets/icon/add.png');
    width: 16px;
    height: 16px;
}



.content .filter-bar .filter-left

{
    padding-left: 16px;
}



.content .paging
{
    height: 56px;
}