.paging {
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
}

.paging .text-paging {
  margin: auto 0;
}

.paging .pagination {
  margin: auto auto;
}

.paging .totalPage {
  margin: auto 0;
}

.pagination {
  display: flex;
}

.paging .back-to-start {
  background: url("../../assets/icon/btn-firstpage.svg");
  width: 20px;
  height: 20px;
}

.paging .pre-page {
  background: url("../../assets/icon/btn-prev-page.svg");
  width: 20px;
  height: 20px;
}

.pagination .next-page {
  background: url("../../assets/icon/btn-next-page.svg");
  width: 20px;
  height: 20px;
}

.pagination .go-to-end {
  background: url("../../assets/icon/btn-lastpage.svg");
  width: 20px;
  height: 20px;
}

.number-page {
  display: flex;
}

.circle-number {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #bbbbbb;
  margin: 0 6px;
  justify-content: center;
  align-items: center;
}

.back-to-start,
.pre-page,
.next-page,
.go-to-end {
  margin: 0 6px;
}

.circle-number:hover {
  background-color: #bbbbbb;
}

.circle-number:active {
  background-color: #01b075;
  color: #fff;
}

.paging-active
{
  background-color: #01b075;
  color: #fff;
}

.back-to-start,
.pre-page,
.circle-number,
.next-page,
.go-to-end {
  cursor: pointer;
}
